<li>
  <div class="game-item" data-id=<%= game.id %> data-name='<%= game.name %>'>
    <%= game.name %>
  </div>
  <button id="edit-game" class="btn">Edit</button>
  <button id="delete-game" class="btn">Delete</button>
</li>
